html,body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    min-width: 1210px;
}
.top-tab{
    height: 31px;
    border-bottom: solid 1px #ddd;
}
.top-tab>.col-2{
    height: 31px;
    background: #fff;
}
.top-tab>.col-2>p{
    line-height: 31px;
    font-size: 12px;
    color: #999;
}
.top-tab>.col-2>p>a{
    color: #dc4f45;
    text-decoration: none;
    cursor: pointer;
}
.top-tab>.col-6>div>a{
    text-decoration: none;
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
.top-tab-bottom{
    height: 99px;
    background: #fff;
}
.top-tab-bottom>.col-5{
    line-height: 99px;
}
.top-tab-bottom>.col-5>span{
    color: #dc4f45;
    font-size: 18px;
}
